.content {
  background-color: 'fff';
  padding: 24px;
  margin: 24px;
  position: relative;
  box-sizing: border-box;
  height: calc(100vh - 112px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tablet__content {
  
}
