.clients-payments__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}
.clients-payments__filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.clients-payments__search {
  width: 180px;
}

.clients-payments__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1100px) {
  .clients-payments__head {
    flex-direction: column;
  }
  .clients-payments__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .clients-payments__search {
    width: 100%;
  }
}
