.client-info__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.client-info__filter {
  display: flex;
  align-items: center;
  gap: 30px;

  .ant-input-number-group-wrapper {
    flex: 0 0 auto;
    width: 460px;
  }
}
.client-info__title {
  margin: 0 !important;
  flex: 0 0 auto;
}

.client-info__debt {
  margin: 0 !important;
  font-size: 18px !important;
  line-height: 1.35 !important;
  white-space: nowrap;

  span {
    margin-left: 12px;
  }
}
.client-info__search {
  width: 250px;
}

@media only screen and (max-width: 1000px) {
  .client-info__head {
    flex-direction: column;
  }
  .client-info__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .client-info__search {
    width: 100%;
  }
  .client-info__debt {
    white-space: normal;
  }
}
